//Colors
$dark-grey:#333333;
$dark-blue:#364051;
$grey:#666;
//font-sizes
$large-font:1.8rem;
$small-font:1.4rem;
//Spacing
$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$desktop-breakpoint:45rem;